<!-- banner start-->
<div class="banner">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active item-1">
                <div class="container">
                    <div class="banner-slider-inner-1">
                        <h1>WE ARE WHEEL</h1>
                        <h2>Porsche 911 turbo</h2>
                        <h4>Attract, High Performance, &amp; Convert<br>Outstanding Technology Combined</h4>
                    </div>
                </div>
            </div>
            <div class="item item-2">
                <div class="container">
                        <div class="banner-slider-inner-1">
                        <h1>Explore <span>Your Dream</span></h1>
                        <h4>business from your</h4>
                        <div class="Website-text">Car House</div>
                    </div>
                </div>
            </div>
            <div class="item item-3">
                <div class="container">
                     <div class="banner-slider-inner-1">
                        <h1><span>wow Factor?</span><br>Standard</h1>
                    </div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="slider-mover-left" aria-hidden="true">
             <img src="../assets/img/left-chevron.png" alt="left-chevron">
          </span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="slider-mover-right" aria-hidden="true">
                <img src="../assets/img/right-chevron.png" alt="right-chevron">
            </span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!-- banner end-->

<!-- Latest car start-->
<div class="recent-car content-area">
    <div class="container">
            <div>
                {{cars}}
              
                  </div>
        <div class="recent-car-content">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-heading">
                        <i class="fa fa-car"></i>
                        <h2>Recent cars</h2>
                        <li *ngFor="let hero of cars">
                                {{ hero.recent-car.CarName }}
                              </li>
                        <div class="border"></div>
                        <h4>Check our recent motors</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="">
                       <div class="thumbnail car-box">
                        <img src="http://placehold.it/328x235" alt="Jaguar f-type R">
                        <div class="caption car-content">
                            <div class="header b-items-cars-one-info-header s-lineDownLeft">
                                <h3>
                                    <a href="car_details.html">Jaguar F-Type R</a>
                                    <span>$105,400</span>
                                </h3>
                            </div>
                            <p>Next level Pinterest farm-to-table selvage gentrify street art raw denim Helvetica street art pork belly.</p>
                            <div class="car-tags">
                                <ul>
                                    <li>2015</li>
                                    <li>Bensin</li>
                                    <li>Sport</li>
                                    <li>10.888m</li>
                                </ul>
                            </div>
                            <div class="ster-fa">
                                <i class="fa fa-star orange-color"></i>
                                <i class="fa fa-star orange-color"></i>
                                <i class="fa fa-star orange-color"></i>
                                <i class="fa fa-star orange-color"></i>
                                <i class="fa fa-star-o orange-color"></i>
                            </div>
                            <a href="car_details.html" class="btn details-button">Preview</a>
                        </div>
                    </div>
                   </div>
                </div>
            </div>
          </div>
        </div>
    </div>